#apiclient
git+git://github.com/sigmavirus24/github3.py.git#egg=github3.py
google-api-python-client
httplib2
oauth2client
git+git://github.com/davidfischer-ch/pafy.git#egg=pafy
pillow>=2.2.1
pyaml>=13.05.2
pytoolbox>=6.1.1-beta
youtube-dl
