github3.py
google-api-python-client
httplib2
oauth2client
-e git://github.com/davidfischer-ch/pafy.git#egg=pafy
pillow>=2.2.1
pyaml>=13.05.2
pygal
pytoolbox[smpte2022]>=8.3.0-beta
-e git://github.com/davidfischer-ch/tespeed.git#egg=tespeed
twisted
youtube-dl

# For the PNG output of pygal
cssselect
CairoSVG
tinycss
